.lol img {
     width: 120px;
}

body {
     background: linear-gradient(orange, rgba(0, 0, 0, 0.726), orange, rgba(0, 0, 0, 0.726));
}

.navbar {
     background: linear-gradient(orange, grey, black);
}

p {
     color: black;
}

.lul {
     width: 60%;
     margin: 2px;
}

li {
     list-style: none;
}
.i {
     width: 50px;
     margin-left: 20px;
}

.f {
     width: 50px; 
     margin-left: 20px;
}

.w {
     width: 100px;
}

.carousel-control {
     background-color: darkcyan;
}

#lo{
    padding: 2px; 
    border-radius: 4px;
    display: block;
    box-sizing: content-box;
    text-align: center;
    width: 250px;
    margin: auto;
    transition: all 0.40s;
    font-size:1.2em;
}

#notanlargo{
    height:300px;
}

.card{
height:480px;
}

@media screen and (max-width:769){
     .card{
height:auto;
}
}

@media screen and (max-width:518){
     #achicar{
         width:200px;
     }
}

form {
    margin-bottom: 20px;
}

.fx {
    display: none;
}

.responsivew{
    margin-top: 5px;
    padding: 2px;
    background-color: orange;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #00000069;
    display: block;
    box-sizing: content-box;
    text-align: center;
    width: 400px;
    margin: auto;
    transition: all 0.40s;
    font-size:1.2em;
}

@media screen and (max-width:450px) {
    .responsivew {
        width: 300px;
    }
}

@media screen and (max-width:350px) {
    .responivew {
        width: 250px;
    }
}

input{
    width:100%;
}
.lp{
    width: 700px;
    height: 350px;
}

@media screen and (max-width:850px){
    .lul{
        display:none;
    }
}
